.git
__pycache__
*.pyc
*.egg-info
dist
build
docker_outputs
alphafast-code
alphafold3-code
bench_data
bench_runs
bench_results
logs
boltz_dbs
mmseqs_dbs
.cache
.pytest_cache
.ruff_cache
*.sif
*.pt
*.ckpt
*.tar
*.tar.gz
*.tgz
*.zip
